/*Estilos basicos de la pagina*/
* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

.catalog-container {
    max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el catálogo en la página */
    padding: 20px;
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Ajusta el margen entre las filas según sea necesario */
}

.product {
    width: 18%; /* Ajusta el ancho de cada producto según sea necesario */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Borde alrededor de la imagen */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 20px;
}

.product.hovered {
    transform: scale(1.1); /* Aumenta el tamaño al hacer hover */
}


header {
    border: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #2d3b89, #7e86b4);
    color: #ffffff; /* Naranja oscuro */
    padding: 10px;
    text-align: center;
    position: sticky;
}

nav {
    padding: 5px;
    margin: 10px;
    text-align: center;
}

nav a {
    color: #fff; /* Color del texto */
    text-decoration: none;
    margin: 0 10px; /* Márgenes entre los enlaces */
    font-size: 1.5em;
    transition: color 0.3s ease-in-out; /* Transición de color al pasar el ratón */
}

nav a:hover {
    color: #ff8c00; /* Color del texto al hacer hover */
}

body{
    margin: 0;
    padding: 20px;
    background: #ffffff;
}

h2{
    background-color: #00127a;
    text-align:center;
    color: #ffffff;
    font-size: 2em;
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 5px;
    margin: auto;
    text-align: center;
}

footer {
    border: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #2d3b89, #7e86b4);
    color: #fff;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
}

/*Mis modificaciones */
